@(Tools: List[Tools])
@main("Tools Catalogue"){

    <h2>Check out the Tools</h2>

<script>
     function del(urlToDelete) {
        $.ajax({
          url: urlToDelete,
          type: 'DELETE',
          success: function(results) {
            // Refresh the page
            location.reload();
          }
        });
      }
   </script>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Place</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    @for(tools <- tools){

    <tr>
        <td>
            <a href="@routes.Tools.details(tools.place)">
                @tools.place
            </a>
        </td>
        <td><a href="@routes.Tools.details(tools.place)">@tool.name</a></td>
        <td><a href="@routes.Tools.details(tools.place)">@tools.name</a></td>
        <td>
            <a href="@routes.Tools.details(tools.place)"><i class="icon icon-pencil"></i></a>
            <a onClick="javascript:del('@routes.Tools.delete(tools.place)')"><i class="icon icon-trash"></i></a>
        </td>
    </tr>
    }
    </tbody>
    </table>
<a href="@routes.Tools.newTools()" class="btn">
    <i class="icon-plus"></i>New Tools
</a>
}
