@(tools: List[Tools], toolsForm: Form[Tools])

@import helper._

@main("Creating Tools") {

    <h1>@tools.size() tools</h1>

    <ul>
        @for(tools <- tools){
            <li>
                @tools.name
                @form(routes.Application.deleteTools(tools.id)){
                <input type="submit" value="delete">
                }
            </li>
        }
    </ul>
<h2>Add a new Tools</h2>
    @form(routes.Application.newTools()){
    @inputText(toolsForm("name"))
<input type="submit" value="Create">
}
}
