@(message: String)

@main("Welcome to Play") {
<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>



<body id="form-body">

<div id="left">
    <h2>Welcome to Coummunity Tool Sharing Platform</h2>
    <p>Come and enjoy sharing and creating a better community to live in!!</p>
</div>
<h1 class="forms">Login Form</h1>
<form action="@routes.Application.login()" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">
    <br>

    <label for="password">Password</label>
    <input type="password" name="password">
    <br>

    <button class="form-button">Login</button>
</form>


<h1>Signup Form</h1>
<form action="@routes.Application.signup()" method="post">
    <label for="username">Username</label>
    <input type="text" name="username">
    <br>

    <label for="email">Email</label>
    <input type="email" name="email">
    <br>

    <label for="password">Password</label>
    <input type="password" name="password">
    <br>

    <button class="form-button">Sign Up</button>
</form>

</body>
}


